.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: calc(100dvh - 156px);
  container-type: inline-size;
  container-name: wrapper;
}

.outline {
  position: fixed;
  inset: 0;
  display: flex;
  place-items: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
}

h2 {
  margin-top: 0;
}

.descWrapper {
  display: flex;
  flex-wrap: wrap;
}

.rating {
  padding: 10px;
  flex: 1;
}

.questionsWrapper {
  max-height: 500px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.info {
  flex: 1;
  padding: 10px;
}

.skipBtn {
  border-radius: 8px;
  background: rgb(255, 82, 82);
  background: linear-gradient(90deg, rgb(208, 89, 89) 35%, rgb(182, 82, 82) 100%);
  color: #fff;
}

.submitBtn:disabled {
  opacity: 0.5;
  color: initial;
}

.submitBtn:active {
  color: initial;
}

button {
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  font-family: BruceForever;
  padding: 10px 20px;
}

.submitBtn {
  border-radius: 8px;
  background: rgb(89, 150, 208);
  background: linear-gradient(90deg, rgba(89, 150, 208, 1) 35%, rgba(182, 82, 161, 1) 100%);
  color: #fff;
}

.row {
  display: flex;
  gap: 20px;
  font-size: 1.25rem;
  padding: 16px 10px;
}

.row:not(:last-of-type) {
  border-bottom: 1px solid #fff;
}

.row .column {
  max-height: 150px;
  overflow: auto;
}

.row .column:first-child {
  flex-shrink: 0;
}

.row .column:last-child {
  flex-grow: 1;
  text-align: right;
  padding-right: 16px;
}

.avatar {
  margin: auto 20px;
  border-radius: 8px;
  overflow: clip;
  flex-basis: 350px;
  display: flex;
  justify-content: center;
}

.avatar img {
  width: 100%;
  max-height: 450px;
  object-fit: contain;
}

.charsWrapper {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  padding: 8px;
  max-height: 400px;
}

@media (max-width: 1440px) {
  .wrapper {
    height: auto;
  }
}

@media (max-width: 768px) {
  .avatar {
    flex: 0.5;
  }

  .rating {
    order: 1;
    flex: 1;
  }
}

@media (max-width: 425px) {
  .row {
    font-size: 1rem;
    display: block;
  }

  .row .column:first-child {
    margin-bottom: 8px;
  }

  .avatar {
    flex: auto;
  }

  .avatar img {
    max-height: 350px;
  }

  .descWrapper {
    justify-content: center;
  }

  .info {
    flex-shrink: 0;
    padding: 10px;
  }
}
