header {
  padding: 16px 32px;
  height: var(--header-height);
  background-color: rgba(120, 120, 120, 0.1);
  display: flex;
  align-items: center;
}
nav {
  flex: 1;
  display: flex;
  align-items: center;
}

.logo {
  flex: 1;
}

.logo img {
  height: 40px;
}

ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

button {
  border: none;
  background-color: transparent;
  color: #fff;
  font-family: BruceForever;
  font-size: 16px;
  cursor: pointer;
}
