@keyframes pulse {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

.loadingLogo {
  position: absolute;
  width: 200px;
  height: 200px;
  inset: 0;
  margin: auto;
  animation: 1s linear 1s infinite alternate pulse;
}
