nav{
  display: flex;
  align-items: center;
  padding: 8px 16px;
  height: var(--header-height);
}

.logo {
  flex-grow: 1;
}

ul {
  list-style: none;
  display: flex;
  gap: 8px;
}

main {
  padding: 16px;
  min-height: calc(100vh - var(--header-height));
}

footer {
  padding: 16px;
}