:root {
  --header-height: 40px;
  --footer-height: 40px;

  --primary-color: #5996d0;
  --secondary-color: #b652a1;
}

@font-face {
  font-family: 'BruceForever';
  src: url('assets/fonts/BruceForeverRegular.ttf') format('truetype');
}
html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(assets/bg.jpg);
  background-position: center;
  background-size: contain;
  min-height: 100dvh;
  font-family: BruceForever;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}
